name: 前端自动构建

on:
  push:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Nodejs
        uses: actions/setup-node@v5
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Deploy to Github Page
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }} # 内置密钥，无需手动配置
          publish_dir: ./dist # 要部署的产物目录（Vite 打包后的 dist）
          force_orphan: true # 强制创建干净的 gh-pages 分支（避免历史文件残留）
